:root{
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_2t/4523.jpg");
  background-size: 100vw 100vh;
}
body{
  margin: 0;
}




.discord .tooltiptext {
  transition: all 0.5s;
  opacity: 0;
  width: 120px;
  bottom: 20%;
  left: 39%;

  margin-left: -60px;
  margin-bottom: 20px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1; 
}

.discord:hover .tooltiptext {
  opacity: 1;
}




.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.asideaboutme{
  transition: all 0.5s;
  display: grid;
  grid-row: 1/span 5;
  grid-column: 2/span 1;
  position: absolute;
left: 20%;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: xx-small;
  color: #dfdfdf;
  text-shadow: 0 0 3px #a3a3a3;
  animation: text_glow 1.5s linear infinite;
  opacity: 0;
}
.asideaboutproject{
  transition: all 0.5s;
  display: grid;
  grid-row: 1/span 5;
  grid-column: 3/span 1;
  position: absolute;

  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: xx-small;
  color: #dfdfdf;
  text-shadow: 0 0 3px #a3a3a3;
  animation: text_glow 1.5s linear infinite;
  opacity: 0;
}
.text{
  left: -20%;
  transition: all 0.5s;
  display: grid;
  margin: 20px;
  grid-row: 1/span 2;
  grid-column: 1/span 2;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: xx-small;
  color: #dfdfdf;
  text-shadow: 0 0 3px #a3a3a3;
  animation: text_glow 1.5s linear infinite;
  opacity: 0;
}


@keyframes text_glow {
  0%{
      text-shadow: 0 0 0px white;
  }
  50%{
      text-shadow: 0 0 6px white;
  }
  100%{
      text-shadow: 0 0 0px white;
  }
}


.discord{  
  transition: all 0.5s;
  display: block;
  grid-row: 5/span 1;
  grid-column: 1 / span 1;
  align-content: center;
  justify-items: center;
  opacity: 0;
} 
.github{  
  transition: all 0.5s;
  display: block;
  grid-row: 5/span 1;
  grid-column: 2/ span 1;

  align-items: center;
  justify-items: center;
  opacity: 0;
}
.steam{  
  transition: all 0.5s;
  display: block;
  grid-row: 5/span 1;
  grid-column: 3/ span 1;
  align-items: center;
  justify-items: center;
  opacity: 0;
}
.card{
  transition: all 0.5s;
  display: grid;
  position: absolute;
  width: min(60%, 852px);
  height: min(60%, 450px);
  min-width: 528px;
  min-height: 412px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns:  repeat(3, 1fr);
  background: transparent;
  box-shadow:0 0 0 transparent ;
  border-radius: 7px;
}

.card:hover .text, .card:hover .github, .card:hover .steam, .card:hover .discord, .card:hover .asideaboutme, .card:hover .asideaboutproject, .card:hover .icontext{
  opacity: 1;
}
.card:hover{
  box-shadow: 0 0 10px magenta;
  background-color: rgb(95, 0, 95);
}

.image{
  display: flex;
  position: relative;
  transition: all 0.5s;
  width: min(60%, 852px);
  height: min(60%, 450px);
  min-width: 528px;
  min-height: 412px;
  background-image: url("https://media.tenor.com/Dhdb4kV9OI0AAAAC/purple-pfp.gif");
  background-size: 100% 105%;
  border-radius: 7px;
}
.icontext{
  display: block;
  left: -20%;
  transition: all 0.5s;
  display: grid;
  margin: 20px;
  grid-row: 5/span 1;
  grid-column: 1/span 1;
  align-content: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 54px;
  color: #dfdfdf;
  text-shadow: 0 0 3px #a3a3a3;
  animation: text_glow 1.5s linear infinite;
  opacity: 0;
}
.navigation{
  display: grid;
  grid-row: 5/span 1;
  grid-column: 2/span 2;
}

