:root{
    background-image: image-set("images.jpg");
    background-size: 100vw 100vh;
  }


body{
    margin: 0;
    border: 0;    
}

.buttons{
    cursor: pointer;
    position: absolute;
    top: 60vh;
}


#button_left{
    left: 45vw;
}

#button_right{
    right: 45vw;
}


#month_id{
    position: absolute;
    top: 35vh;
}

#container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}
#fucker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(42% 34% 57%);
    height: 40%;
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
}
#oao{
    position: absolute;
    top: 30%;
}
.text{
    margin: 10px;
}